body {
    background-image: url("bg.jpg"); 
    background-repeat: no-repeat;
    background-size: fill;
    background-color: aqua;
}

.signin-page {
    background-color: white;
    align-content: center;
    text-align: center;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    margin-bottom: 15%;

    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;

}

p {
    font-size: larger;
    color: black;
}

a {
    text-decoration: none;

}

.banner {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navitem {
    color:rgb(31, 90, 199);
}

.navitem_l {
    color: darkblue;
}

.msg {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    word-wrap: break-word;
    white-space: normal;
}

.msgBox {
    background-color: azure;
    border-style: solid;
    border-color: aliceblue;
    padding: 10px;
    margin: 20px;
    min-height: 250px;
    max-height: 600px;
}

.msgList {
    min-height: 250px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.contentPanel {
    background-color: white;
    color: black;
    text-align: center;
    border: black;
}

#profile_img {
    width: 200px;
    height: 200px;
}